##############################
## Program
##############################
instance_output/
*.log
*.lp

##############################
## Images
##############################
*.pdf
*.png
*.jpeg

##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*

### Gradle ###
.gradle/
/build/
*.bin

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws
target

##############################
## Python
##############################
.ipynb_checkpoints/
__pycache__/

##############################
## Data
##############################
data/
geojson_track/
experiences/
